body {
    color: #222222;
    margin: 0 auto;
}

.contactTabNav {
    margin: 0 0;
    /*margin-top: -2%;*/
    z-index: 1000;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: space-between;
    background-color: #FCCF03;
}

.contactTabNav > a {
    text-decoration: none;
    font-size: 1.5em;
    color: #222222;
}

.currentCard {
    /*Mi pasuje bez przyciemnienia. Zuckenbergowi też się podoba
    background-color: #daad01;*/
     color: #ffffff !important;
}


.fdntlogo {
    height: auto;
    padding: 0;
    text-align: center;
}
.fdntlogo img {
    width: 60%;
    margin: 0 auto;
    padding-top: 0;
	padding-bottom: 0;
}

.foundationContact {
    display: flex;
    width: 90%;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 0 !important;
}

.foundationContact img {
    margin-bottom: 4vw;
    border-radius: 10px;
    height: 23vw;
}

.email {
    margin-bottom: 0 !important;
}