@mixin navlnk {
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    font-weight: 400;
}

.title-nav {
    text-align: center;
    padding: 5vh 0 4vh 0;
    top: 0;
    margin: 0;
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 2.5em;
    position: sticky;
}
.title-nav2 {
    text-align: center;
    padding: 5vh 0 4vh 0;
    top: 0;
    margin: 0;
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 2.3em;
    position: sticky;
}

a {
    text-decoration: none;
}

@mixin nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: auto;
    height: 73.8vh;
    a {
        @include navlnk;
        margin: 8vh 0 8vh 0;
    }
}
.navmenu {
    position: relative;
    padding: 0;
    margin: 0 auto;
    height: 95vh !important;
    nav {
        @include nav;
    }
}
.subbody {
    padding: 0;
    width: 100vw !important;
    font-size: 1em;
    margin: 0 auto;
    .foundation {
        display: flex;
        flex-direction: column;
        align-content: center;
        img {
            margin: 0;
            &.finfo {
                width: 100vw;
                height: 15vh;
            }
            &.fdntlogo {
                align-self: center;
                width: 45vw;
                height: 30vh;
            }
        }
    }
    .contact {
        display: flex;
        margin-left: 6vw;
        flex-direction: column !important;
        align-items: center;
        img {
            width: 35vw;
            height: 35vw;
            margin: 1.1vh 0 1.1vh 0;
        }
    }
    .person {
        height: 75vh;
        font-size: 1.2em;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        p { text-align: center; }
        .person__person-image {
            width: 42vw;
            height: 43vw;
            margin: 1.5vh 0 0.5vh 0;
        }
        .person__info {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row !important;
            img {
                height: 10vw;
                width: 10vw;
                margin: 0 5vw 0 0;
            }
        }
    }
    .jp {
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: flex;
        align-content: center;
        flex-direction: column;
        img {
            align-self: center;
            margin: 2vh 0 2vh 0;
            width: 45vw;
            height: 30vh;
        }
        header {
            text-align: center;
            font-weight: 700;
            margin: 0 0 1vh 0;
        }
        article {
            align-self: center;
            width: 80vw;
            div {
                margin-bottom: 2vh;
                margin-top: 2vh;
                strong {
                    font-size: 1em;
                }
            }
        }
    }
    .about {
        margin: 2vh 0 2vh 0;
        font-size: 1em !important;
        text-align: center;
    }
}

footer {
    width: 100vw;
    height: 8vh;
    position: sticky;
    bottom: 0 !important;
    margin-bottom: 0;
    background-color: rgb(44, 44, 44);
}