body
{
	font-family:roboto;
	font-size:30px;
	color:#040616;
	margin: 0 auto;
	
}
a
{
	text-decoration:none;
}
ul
{
	text-decoration:none;
}
#mon
{
	background-color:#040616;
	color:ffffff;
	padding:20px;
	
}
#dm
{
	color:#040616;
	padding:20px;
}
#dm:hover
{
	background-color:silver;
}

.dp
{
	color:#040616;
	padding:20px;
}
.dp:hover
{
	background-color:silver;
}
.dp:hover>ul>li
{
	display:block;
}
ul
{
	list-style-type:none;
	pading:20px;
	background-color:#fccf03;
	color:ffffff;
}
#dtv
{
	color:#040616;
	padding:20px;
}
#dtv:hover
{
	background-color:silver;
}
#bp
{
	color:#040616;
	padding:20px;
}
#bp:hover
{
	background-color:silver;
}
.haf
{
    background-color:#040616;
    color:#ffffff;
    padding:20px;
    width:100%;
}